@charset "UTF-8";
/* цвет текста  #757575;
  цвет заголовков  и кнопок#212121
  акцент+часть лого #2196F3;
  белый #FFFFFF
  вторичный цвет фона #2F303A
 */
/* =====Texts===== */
.section {
  padding-bottom: 94px;
}

.section p {
  margin-top: 0;
}

.section-text {
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 0;
}

.section-team-text {
  font-size: 16px;
  line-height: 1.18;
}

.section-portfolio-text {
  font-size: 16px;
  line-height: 1.86;
  margin-bottom: 0;
  color: #757575;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* =====Container sizes===== */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* ====logo====== */
.logo {
  font-family: Raleway, sans-serif;
  color: #212121;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo span {
  color: #2196f3;
}

/* ====Titles===== */
.title {
  color: #ffffff;
  letter-spacing: 0.06em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title-uppercase {
  text-transform: uppercase;
}

.section-title-primary {
  color: #212121;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17857;
  margin-top: 0;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .section-title-primary {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16667;
  }
}

.section-title-secondary {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 10px;
}

.section-title-portfolio {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61538;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36364;
  }
}

.team-section {
  background: #f5f4fa;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
  }
}

.what-we-do-title {
  color: #212121;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16667;
  color: #212121;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .what-we-do-title {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .what-we-do-title {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  }
}

/* =====Button===== */
.button {
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  border-radius: 4px;
  text-align: center;
  border: none;
}

.button.primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  padding: 10px 32px;
  min-width: 200px;
  margin-top: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button.secondary {
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  padding: 6px 22px;
}

.button.secondary:hover, .button.secondary:focus {
  color: #ffffff;
  background-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* =====Feacher main===== */
.feacher-list {
  padding-top: 60px;
  padding-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .feacher-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.feacher-list .item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 4 - 30px);
}

.feacher-list .item::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.feacher-list .icon-antena::before {
  background-image: url(../img/feacher-list/antena.svg);
}

.feacher-list .icon-clock::before {
  background-image: url(../img/feacher-list/clock.svg);
}

.feacher-list .icon-diagram::before {
  background-image: url(../img/feacher-list/diagram.svg);
}

.feacher-list .icon-astronaut::before {
  background-image: url(../img/feacher-list/astronaut.svg);
}

/* ======What we Do======*/
.hidden-true {
  display: none;
}

@media screen and (min-width: 1200px) {
  .hidden-true {
    display: block;
  }
}

.primary-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.primary-list .item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.primary-thumb {
  position: relative;
}

.label {
  position: absolute;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  bottom: 0;
  right: 0;
  margin: 0;
  padding-top: 27px;
}

/* =====Portfolio list===== */
.portfolio-list {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-top: -30px;
    flex-basis: calc(100% / 3 - 30px);
    padding-bottom: 94px;
    cursor: pointer;
  }
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.overlay:hover {
  opacity: 1;
}

.portfolio-list .item {
  width: 370px;
  margin: 15px;
}

.portfolio-list-actions {
  display: flex;
  flex-direction: column;
}

.portfolio-list-actions:hover,
.portfolio-list-actions:focus {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-actions:hover .overlay,
.portfolio-list-actions:focus .overlay {
  opacity: 1;
  transform: translateY(0);
}

.item .card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
}

.portfolio-button {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .portfolio-button {
    justify-content: center;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-button {
    padding-bottom: 50px;
    padding-top: 94px;
  }
}

.portfolio-button .item {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .portfolio-button .item {
    margin-bottom: 0;
  }
}

.portfolio-button .item:not(:last-child) {
  margin-right: 8px;
}
/*# sourceMappingURL=main.css.map */